@import url("css/theme.css");

.modname {
    font-size: 0.8em;
    opacity: 0.4;
}
.modname::before {
    content: '- ';
}
.title {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #eee;
    display: block;
    padding: 1px 5px;
    border-left: 2px solid #ddd;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption{
    color: ##466A54;;
}

.wy-side-nav-search{
    background-color: #0E6458;
}

.rst-content dl:not(.docutils) dt{
    background: #F2E7D3;
    color: #499265;
    border-top: solid 3px #87CB7C;
}
